@charset "UTF-8";
main{
    background-color: rgb(255, 191, 71);
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #b6866a;
height: auto;}
body{ background-color:  rgb(255, 218, 150);}
img{
    border-radius: 10px;
}
div{
    border-radius: 10px;
}


